.brandBar {
	display: flex;
	flex-wrap: wrap;
	min-height: 10vh;
	overflow: auto;
}

.brandBar__item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	padding: 1rem;
	text-transform: uppercase;
	background-color: var(--black-sh);
	border-radius: 10px;
	transition: all 0.5s;
	box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.7),
		1px 2px 4px 0px rgba(255, 255, 255, 0.7);
}

.active {
	background: var(--based-white);
	color: var(--black-sh);
	box-shadow: inset 0 4px 4px rgba(0, 0, 0, 1);
	transform: translateY(2px);
}

@media (hover: none) {
	.brandBar__item:active {
		background: var(--based-white);
		color: #000;
		transition: all 0.1s;
	}
}

@media (hover: hover) {
	.brandBar__item:hover {
		background: var(--based-white);
		color: #000;
		transition: all 0.1s;
	}
}
