.cart {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.counter {
	position: absolute;
	inset: 40% 0 0 60%;
	height: 40px;
	width: 40px;
	background: rgba(255, 255, 255, 0.8);
	border-color: 3px solid #000;
	color: #000;
	border-radius: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: 200;
	box-shadow: var(--blackShadow);
}
